body {
    margin: 0.5in;
    font-family: 'Bebas Neue', serif;
    height: 100%;
    overflow: hidden;
}

nav, menu, img, .svg, .sociallinks, .search {
    visibility:hidden;
}

.detail {
    color: black;
}






